
.button{
  float: left;
    background-color: deepskyblue;
    height: 100px;
    width: 100px;
    color: black;
    border: 2px groove black;
}

.row{
  margin: 0px;
  padding: 0px;
  width: 550px;
  height: 100px;
  float: left;
}

.container1{
  
  background-image: url(../../../assets/image/Doraemon.png) ;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  width: 600px;
  height: 510px;
}
.container2{
  
  background-image: url(../../../assets/image/Nobita.png) ;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  width: 600px;
  height: 510px;
}